*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h2{
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
}

.progress-bar{
    background:#888;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.html{
    background: #e91e63;
    animation: html 2s linear forwards;
    
}
.html span{
    border: 1px solid #e91e63;
}

.css{
    background: #cddc39;
    animation: css 2s linear forwards;
}
.css span{
    border: 1px solid #cddc39;
}

.java{
    background: #00bcd4;
    animation: java 2s linear forwards;
}
.java span{
    border: 1px solid #00bcd4;
}

.python{
    background: #ff863b;
    animation: python 2s linear forwards;
}
.python span{
    border: 1px solid #ff863b;
}

.mysql{
    background: #9c27b0;
    animation: mysql 2s linear forwards;
}
.mysql span{
    border: 1px solid #9c27b0;
}


@keyframes html{
    100%{
        width: 86%;
    }
}

@keyframes css{
    100%{
        width: 74%;
    }
}

@keyframes java{
    100%{
        width: 65%;
    }
}

@keyframes python{
    100%{
        width: 54%;
    }
}

@keyframes mysql{
    100%{
        width: 49%;
    }
}